h1{text-align: center;
	color:navy;
	font-size: xx-large;}


h2{
	color:royalblue;
	font-size: x-large;
	font-weight: 900;
	color: royalblue; 
	font-size: x-large;
	font-weight:900;}
p{font-size:larger;}
a{font-size:x-large; 
color: black;}