h1{text-align: center;
	color:darkslateblue;
font-size: xx-large;}
p{font-size: larger;}
h3{font-size: x-large;
	color:SlateBlue; 

	color:SlateBlue; 
	color:SlateBlue;
	color:SlateBlue; 
	color:SlateBlue; 
	color:SlateBlue; 
	color:SlateBlue }
ul{font-size: xx-larger;}
a{font-size:x-large; 
color: black;}